<!DOCTYPE>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <% include ../partials/head.ejs %>
    <% include ../partials/opengraph.ejs %>
    <style>
        .checkout {
            text-decoration: underline;
        }
    </style>
</head>

<body>
<% include ../partials/pageheader.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <img class="img-responsive" src="/img/<%= hotel.image %>" alt="">
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary" style="background: #337ab7; color: #ffffff;">
                <div class="container-fluid">
                    <% var priceString = hotel.price.string %>
                    <% var priceNum = hotel.price.num %>
                    <div class="h3"><%= sprintf(gt.gettext('Hello %s %s'), formData.firstName, formData.lastName) %></div>
                    <div class="h4" style="line-height: 150%;">
                        <div>
                            <%- sprintf(gt.gettext('You are booking a room at <span class="checkout">%s</span>'), hotel.name) %>
                        </div>
                        <div>
                            <%- sprintf(gt.ngettext('For a total of <span class="checkout">%d<span> night',
                                    'For a total of <span class="checkout">%d<span> nights', formData.nights), formData.nights) %>
                        </div>
                        <div>
                            <%- sprintf(gt.gettext('At a price of <span class="checkout">$%s per night</span>'), priceString) %>
                        </div>
                        <div>
                            <% console.log(formData.nights.toString() + "*"+ hotel.price + "=" + formData.nights * priceNum)%>
                            <%- sprintf(gt.gettext('For a total price of <span class="checkout">$%s</span>'), (formData.nights * priceNum)) %>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-primary btn-lg" href="/<%= hotel.link %>/checkout/reservation_confirmed" style="width: 100%; white-space: normal;">
                    <%= gt.gettext('Click This Button to Confirm Your Room Reservation') %>
                </a>
            </div>
        </div>
    </div>
</div>
<hr>

<% include ../partials/footer.ejs %>
</body>
</html>